:root {
  --color: #61777f;
  --background-1: #ffffff;
  --background-2: #c8c8c8;
  --color-hover: #96b07f;
}
body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  max-width: 1200px;
  background-color: var(--background-1);
  color: var(--color);
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}
main {
  margin-right: 50px;
}
h1,
h2 {
  text-align: center;
}
h1 {
  font-size: 96px;
}

h2 {
  font-size: 48px;
}
.nav-link:hover {
  color: var(--color-hover);
}
.greeting {
  margin: 50px;
}
.btn {
  color: var(--color);
  background-color: var(--background-2);
}
.btn:hover {
  color: var(--color-hover);
  transition: ease-in-out 0.25s;
}
li {
  list-style-type: none;
}

footer {
  padding: 120px 50px 10px 50px;
}

@media (max-width: 576px) {
  h1 {
    font-size: 36px;
    background-size: 90%;
  }
  h2 {
    font-size: 24px;
  }
}
.projects {
  margin: 50px 30px;
}

.pro-img {
  padding: 50px;
}

.project-desc {
  padding: 120px 60px;
}
